<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stvplus.player">

    <!-- ڕێپێدانێن پێدڤی بۆ ئەنتەرنێتێ و پەخشی ڕاستەوخۆ -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="STv+ Player"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"> <!-- ئەڤە زۆر گرنگە بۆ ڤەکرنا لینکێن http -->
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"> <!-- بۆ پاراستنا ڤیدیۆیێ ژ دووبارە دەستپێکرنێ دەمێ شاشەیا مۆبایلێ دزڤڕیت -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
